*{
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 3.5px
}
html, body, .app-holder, .form-signin-holder, .page-content{
	height: 100%;
}
body{
	background: #f0f0f2;
}

.input-group, button{
	margin:20px 0px;
}
input{
	outline: none;
}
.form-signin-holder, .form-signin{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column wrap;
	max-width: 300px!important;
}

.side-menu-holder{
	background: #31383d;
	height: 100%;
	padding-right: 0;
}
.core-holder{
	height: 100%;
	background: #f0f0f2;
	padding-left: 0px;
}

.Menu-title{
	color: #d9d9de;
    line-height: 2.5;
    text-align: center;
    background: #22272a;
    font-size: 24px;
}
.Personna{
	text-align: center;
    padding: 50px;
}
.Personna .name{
	color:#fefefe;
	font-size: 18px;
}
.Personna .job{
	color:#bbc2c6;
	font-size: 14px;
}
.top-bar{
	background: #fff;
	width: 100%;
	height: 60px;
	box-shadow: 0 -4px 9px 2px rgba(0,0,0,0.4);
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	text-transform: uppercase;
}
.current{
	margin:0 40px;
}
.current span{
	color:#0893da;
	font-size: 18px;
}
.core-body{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;
	height: 100%;
  width: 100%;
}
.arrow{
	margin: 0 10px;
}
.arrow.in{
	transform: rotate(45deg);
}
.cart-row{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}
.cart{
	background: #fff;
	border-radius: 8px;
	height:200px;
	width: 200px;
	margin: 10px 20px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(209,209,209,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(209,209,209,1);
	box-shadow: 0px 0px 5px 0px rgba(209,209,209,1);
	padding: 10px;
	text-align: center;
	cursor: pointer;
}
.cart:hover{
	border: 2px solid rgba(0,0,0,0.1)
}
.cart .icon{
	display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.cart .icon svg{
	width: 25px!important;
	height: 25px!important;
}
.cart .text .title{
	text-transform: uppercase;
	font-size: 10px;
	line-height: 2.5;

}
.cart .text .desc{
	color: #219eda;
	max-width: 140px;
	padding: 5px;
	margin: 0 auto;
	font-size: 22px;
}
.text-right{
	text-align: right;
	flex: 2 0 0;
	z-index: 999;
}
.menu{

}
.menu .menu-item{
	line-height: 4;
    color: #b1b2b5;
    /* padding: 5px 50px; */
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 20px;
		font-size: 16px;
		cursor: pointer;
}
.menu .menu-item:hover{
	border-left:2px solid #1185c6;
}
.menu .menu-item.selected-menu{
	color: #1185c6;
	border-left: 2px solid #1185c6;
}
.menu .menu-item .icon{
	margin:0 20px 0 10px;
}
.menu .menu-item .icon svg > *, .menu .menu-item .icon svg > * > *{
	fill: #b1b2b5;
}
.menu .menu-item.selected-menu .icon svg > *, .menu .menu-item.selected-menu .icon svg > * > *{
	fill: #1185c6;
}

.resumies{
	padding: 20px;
	background: #fff;
	width: 100%;
}
.resumies .total-vent-row{
	display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 16px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px #e3e3e4 dotted;
		text-align: center;
}
.resumies .total-vent-row .total-achat{
	font-size: 24px;
	color:rgb(0, 109, 240);
	padding: 0 20px;
}
.resumies .total-vent-row .left, .resumies .total-vent-row .right{
	margin: 0 10px;
}
.vents-rows{
	display: table;
	width: 100%;

}
.vents-row{
	display: table-row;
	border-bottom: 1px #e3e3e4 solid;
}
.vents-row:hover{
	background: #e3e3e4;
}
.vents-cell{
	display: table-cell;
	padding: 10px;
	max-width:100px;
}

.vents-cell svg{
	width: 16px;
	height: 16px;
	cursor: pointer;
	margin: 0 20px;
	float: right;
}

.desc-small-list .row-desc div{
	    padding: 0 10px;
}
.desc-small-list .row-desc{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.cta-action{
	border:2px solid #f0f0f2;
	border-radius:50px;
	margin: 10px;
}
.cta-action:hover{
	border-color: #1185c6;
	background: #219eda;
	color: #fff;
}

.page-center{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column wrap;
	height: 100%;
}
.loader-container{
	padding: 50px;
	margin: 20px;
}
.loader{
	height: 80px;
	width: 80px;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	border-left: 4px solid rgba(0,0,0,0.2);
	border-right: 4px solid rgba(0,0,0,0.2);
	border-radius: 100%;
	animation: spin 0.6s ease-in-out infinite;
}
@keyframes spin {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.err-load{
	margin: 50px;
  padding: 20px;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
	text-align: center;
}

.btn-reload{
	border: 1px solid gray;
  border-radius: 2px;
  width: 200px;
  height: 25px;
  font-size: 16px;
  text-align: center;
  background: rgb(240, 240, 242);
  margin: 20px;
	cursor: pointer;
}
.cta-row{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-end;
	border-bottom: 1px solid lightgray;
	line-height: 4;
}
/*
.cta-row .cta{
	margin:0 10px;
	cursor: pointer;
	transition: all 2s cubic-bezier(0.83, 0, 0.27, 1);
	box-sizing: border-box;
	background: green;
}
.cta-row .cta:hover{
	border-bottom: 1px solid #1185c6;
 	color:#1185c6;
	background: white;
}
*/
.cta-row .cta{
	margin:0 10px;
	cursor: pointer;
	color: #f45e61;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.cta-row .cta.cta-3{
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
}
.cta-row .cta:hover {
	color:#1185c6;
}
.filters-rows{
	border-bottom: 1px solid lightgray;
	line-height: 4;
}
.selected{
	background: #e3e3e4;
}
.row-stock{
	display: flex;
	width: 100%

}
.stock-display{
	min-width: 300px;
}


.selection .vents-cell h1 span{
	color:#f45e61
}
.selection .vents-cell h1{
	display: flex;
	align-items: center;
	justify-content: center;
}
.loading-uph{
	background: black;
	background: black;
	height: 20px;
	width: 20px;
	border: 1px solid black;
	animation: spin 0.6s ease-in-out infinite;
	margin: 0 20px
}
.modal-core h1{
	font-size: 20px;
}

.modal-core input[type="text"]{
	width: 100%;
	height: 50px;
	border-radius: 8px;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 10px;
	margin: 10px 0px;
}

.modal-core button{
	width: 100%;
	height: 50px;
	border-radius: 8px;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 10px;
	margin: 10px 0px;
	color:#f45e61;
	background: transparent;
	outline: none;
}
.modal-core button:hover{
	background: rgba(0,0,0,0.4);
	color:#fff;
}

.add-group{
	display: flex;
	flex-direction: column;
	margin: 0 20px;
}
.text-right .menu{
	display: none
}
.add-group input, .add-group select{
	background: white;
	margin: 10px 0px;
	height: 30px;
}
 @media screen and (max-width: 640px) {
	 .selection .vents-cell h1{
		 font-size: 14px;
	 }
	 .text-right .menu{
		 /*display: block;*/
		 background: white;
		 margin-top: 20px;
	 }
	 .add-group{
		 width: 100%;
	 }
	 .add-group input, .add-group select{
		 background: white;
		 margin: 10px 0px;
		 height: 30px;
	 }
	 .add-group h1{
		 font-size: 14px;
	 }
 }
 .visible{
 	display: block!important;
 }
 .vents-oprations{
	  display: flex;
		flex-flow: row wrap;
 }

 .cta_vents{
	 background: #f45e61;
	 border-radius: 8px;
	 color:white;
	 text-align: center;
	 margin: 10px 0px;
	 padding:5px 0;
	 cursor: pointer;
 }
