<div class="page-center">
    <div class="loader-container" ng-show="!isLoaded">
      <div class="loader"></div>
    </div>
    <div class="err-load" ng-show="isLoaded && cantLoad">
      Oops! Impossible de charger les donnees.<br>
      <div class="btn-reload" ng-click=loadData()>
          Rafraîchir
      </div>
    </div>
    <div class="resumies" ng-show="isLoaded && !cantLoad">
      <div class="vents-rows">
        <div class="vents-row filters-rows">
          <div class="vents-cell">

          </div>
          <div class="vents-cell">

          </div>
          <div class="vents-cell">

          </div>
          <div class="vents-cell">

          </div>
          <div class="vents-cell">

          </div>
          <div class="vents-cell">

          </div>

          <div class="vents-cell">
            Filtrer:
          </div>
          <div class="vents-cell">
            <select class="" name="">
              <option value="-1">Par Produit</option>
            </select>
            <select class="" name="">
              <option value="-1">Par Date</option>
            </select>
          </div>
          <div class="vents-cell">
            <select class="" name="">
              <option value="-1">Par Vendeur</option>
            </select>
            <select class="" name="">
              <option value="-1">Par Fourisseur</option>
            </select>
          </div>
                  </div>
        <div class="vents-row">
          <div class="vents-cell">
            1
          </div>
          <div class="vents-cell">
            2
          </div>
          <div class="vents-cell">
            3
          </div>
          <div class="vents-cell">
          4
          </div>
          <div class="vents-cell">
          5
          </div>
          <div class="vents-cell">
            6
          </div>
          <div class="vents-cell">
            7
          </div>
          <div class="vents-cell">
            8
          </div>
          <div class="vents-cell">
            9
          </div>
        </div>
        <div class="vents-row">
          <div class="vents-cell">
            1
          </div>
          <div class="vents-cell">
            2
          </div>
          <div class="vents-cell">
            3
          </div>
          <div class="vents-cell">
          4
          </div>
          <div class="vents-cell">
          5
          </div>
          <div class="vents-cell">
            6
          </div>
          <div class="vents-cell">
            7
          </div>
          <div class="vents-cell">
            8
          </div>
          <div class="vents-cell">
            9
          </div>
        </div>
        <div class="vents-row">
          <div class="vents-cell">
            1
          </div>
          <div class="vents-cell">
            2
          </div>
          <div class="vents-cell">
            3
          </div>
          <div class="vents-cell">
          4
          </div>
          <div class="vents-cell">
          5
          </div>
          <div class="vents-cell">
            6
          </div>
          <div class="vents-cell">
            7
          </div>
          <div class="vents-cell">
            8
          </div>
          <div class="vents-cell">
            9
          </div>
        </div>
      </div>

    </div>
</div>
